// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
  display: grid;
  gap: toRem(20);
}
// Спойлер
.spollers__item {
  font-size: toRem(20);
  border-bottom: 1px solid #0e1e24;
}
// Заголовок спойлера
.spollers__title.title {
  text-transform: none;
  line-height: 114%;
  @include adaptiveValue("font-size", 28, 22);
}
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;

  //   padding: toRem(10) toRem(15);
  padding-right: toRem(25);
  padding-bottom: toRem(15);
  border-radius: toRem(5);
  position: relative;
  list-style: none;

  &::marker {
  }
  ._spoller-init & {
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: em(16, 28);
      right: 0;
      transition: all 0.3s ease 0s;
      margin: 0px 0px 0px toRem(-8);
      background-color: #0e1e24;
      width: toRem(16);
      height: toRem(3);
    }
    &::before {
      transform: rotate(-90deg);
    }
    &._spoller-active {
      &::before {
        transform: rotate(0);
      }
    }
  }
  transition: color 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      color: #ffd565;
      &::before,
      &::after {
        background-color: #ffd565;
      }
    }
  }
}
// Контент спойлера
.spollers__body {
  padding: toRem(5) toRem(0) toRem(20);
}
